Django==4.1.7
drf-nested-routers
django-environ==0.10.0
djangorestframework==3.14.0
drf-spectacular[sidecar]
djangorestframework-jsonapi
#djangorestframework-jsonapi[openapi]
djangorestframework-jsonapi[django-filter]
Scrapy==2.8.0
scrapy-djangoitem==1.1.1
psycopg2-binary==2.9.5
git+https://github.com/skatepedia/django-ipfs-storage@master
django-distill
celery[redis]
django-celery-results
django-celery-beat
