{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="en_us">
    <meta name="author" content="Skatepedia">
    <meta name="title" content="{% block meta_title %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    {# Bots #}
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    {# Facebook Meta OpenGraph #}
    <meta property="fb:app_id" content="">
    <meta property="og:site_name" content="Skatepedia">
    <meta property="og:locale" content="en">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">

    {% block meta_extra %}{% endblock %}

   <!--[if lt IE 9]>
   <script src="{% static "js/html5shiv.js" %}"></script>
   <script src="{% static "js/respond.min.js" %}"></script>
   <![endif]-->

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <title>
      {% block title %}
      Skatepedia Archive
      {% endblock %}
    </title>

    {% block styles %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
  </head>

  <body>
    <nav class="navigation"><a href="{% url 'video-list' %}">Skatepedia</a></nav>
    <main class="container">
      {% block body %}
      {% endblock %}
    </main>
    <footer>Made with love <3 by the <a href="https://github.com/skatepedia/skatepedia-api">SKATEPEDIA</a> community</footer>
  </body>
</html>
