{% extends "db/base.html" %}
{% load static %}

{% block title %}
{{ block.super }} |  {{ video.title }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block body %}
<article>
  <header itemscope itemtype="http://schema.org/BlogPosting">
    <a itemprop="url" itemprop="headline" href="{% url 'video-detail' slug=video.slug %}"><h3>{{ video.title|upper }}</h3></a>
    <link itemprop="url" href="{% url 'video-detail' slug=video.slug %}">
  </header>
</article>
{% endblock %}
